# Elimino archivos de datos
*.xlsx
*.csv
*.dat

# Elimino todos los pdfs, excepto la plantilla del registro diario de trabajadores
*.pdf

# Elimino logs
*.log

# Elimino zips
*.gz
*.tar
*.tar.gz
*.zip

# Elimino archivos de compilación 
*.[oa]

# Elimino directorios del editor
.idea/
.vscode/
