# Elimino archivos de datos
*.xlsx
*.csv
*.dat

# Elimino todos los pdfs, excepto la plantilla del registro diario de trabajadores
*.pdf

# Elimino logs
*.log

# Elimino zips
*.gz
*.tar
*.tar.gz
*.zip

# Elimino archivos de compilación 
*.[oa]

# Elimino directorios del editor
.idea/
.vscode/

# Archivos de Ruby
Gemfile.lock
.rake_tasks~

# Archivos y directorios de Python
*.pyc
venv/
__pycache__/
.pytest_cache/

# Archivos con variables de entorno 
.env